doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Piggy Bank

    body

        //jquery
        script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
        script.
            $.get('/listUser')
                .done(function (returnValue) {
                    var data = returnValue.accounts;
                    console.log(returnValue)
                    var object = {
                        database: 'user',
                        accounts: []
                    }
                    for (var i = 0; i < data.length; i++) {
                        object.accounts[i] = data[i]
                    }
                    var jsonText = JSON.stringify(object);
                    document.writeln(jsonText);
                })